<div class="backlinkindex">
    <%= link_to 'Go back', skateboards_path %>
</div>

<div class="header">
    <h1>All Trucks</h1>
    <%= link_to "New trucks", new_truck_path(@truck) %>
</div>  

<% @trucks.each do |truck| %>
    <%= cl_image_tag(truck.image, :class => 'thumb') if truck.image.present? %>
    <ul>
        <li><%= link_to truck.name, truck %></li>
    </ul>
<% end %>