<h1>My Skateboards</h1>

<aside>
    <h3>All Skate Parts</h3>
    <h4><%= link_to 'All Decks', decks_path %></h4>
</aside>
<% @skateboards.each do |skateboard| %>
    <%= link_to skateboard.name, skateboard %>
<% end %>

<%= link_to 'Create new skateboard', new_skateboard_path%>