<h1>My Skateboards</h1>

<div class="content">
<% @skateboards.each do |skateboard| %>
    <ul>
        <li><h2><%= link_to skateboard.name, skateboard %></h2></li>
    </ul>
<% end %>

<%= link_to 'Create new skateboard', new_skateboard_path%>
</div>
