<h1>Skateboard Part Picker</h1>

<p>Welcome to SPP </p>

<p>SPP is for all skaters that want to try new builds.</p>

<p>Select your parts and find the price most suited to your budget!</p>


<%# YouTube embedded video %>
<iframe width="560" height="315" src="https://www.youtube.com/embed/7waRkCAJkUo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<%# shows user that is logged in %>
<% if @current_user.present? %>
    <p>Logged in as: <%= @current_user.email %></p>
<% end %>