body {
    background-color: beige;
}

.header {
    display: flex;
    align-items: center;
    
}

.header a {
    margin-left: 10px;
    padding: 5px;
    text-decoration: none;
}

.thumb {
    height: 16em;
}

aside {
    display: inline-block;
    max-width: 25%;
    padding: 2em;
    background-color: aqua;
}

h1 {
    text-align: center;
}

.content {
    display: inline-block;
    margin-left: 1em;
}
